.time-picker {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Asegura que los elementos estén distribuidos */
  border: solid 1px #ccc;
  border-radius: 3px;
}

.time-input {
  width: 15px; /* Ajustado para mejor visualización */
  height: 15px; /* Hace el input cuadrado y más grande */
  text-align: center;
  margin-right: 1px; /* Ajusta el espacio si es necesario */
  border: none;
}

.time-separator {
  margin-right: 1px; /* Asegura un espaciado consistente */
}

.button-group {
  display: flex;
  align-items: center;
}