<div class="time-picker">
    <input type="text" class="time-input" [value]="hour | number:'2.0-0'" readonly>
    <span class="time-separator">:</span>
    <input type="text" class="time-input" [value]="minute | number:'2.0-0'" (input)="onMinuteChange($event)">
    <div class="button-group">
        <button (mousedown)="startChange('increment')" (mouseup)="stopChange()" (mouseleave)="stopChange()">+</button>
        <button (mousedown)="startChange('decrement')" (mouseup)="stopChange()" (mouseleave)="stopChange()">-</button>
        <button (click)="toggleHourList()">⏰</button>
    </div>
</div>
<ul *ngIf="showHourList" class="hour-list">
    <li *ngFor="let hour of hours" (click)="selectHour(hour)">{{ hour }}</li>
</ul>